#root{
  max-width: 82vw;
  margin: 3rem auto;
  color: rgb(55, 58, 255);
}

ul{
  list-style: none;
  margin: 4rem 4rem;
  padding: 0;
  border: 1px solid rgb(55, 58, 255);
}
li {
  margin-right: 0rem;
  margin-bottom: 0rem;
  background-color: rgb(236, 242, 255);
  line-height: 2rem;
}

a {
  display: block;
  padding:  0.4rem 2rem;
  color: #06f;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.6s ease-out;
}

a:hover {
  color: rgb(0, 47, 255);
  background-color: rgb(255, 255, 255);
}

.films-upcomming {

  margin-top: 2rem;
}


.films-upcomming a {
  display: inline;
  margin-left: 4rem;
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;;
  background-color: rgb(55, 58, 255);
  color: #fff;
  font-size: 1.4rem;
}

.films-upcomming a:hover{
  color: rgb(55, 58, 255);
  background-color: rgb(223, 224, 255);
}
